<div class="flex flex-col justify-center">
    <Title>About Me</Title>
    
    <div class="flex mt-4 flex-col md:flex-row">
        <div class="bg-gray-50 p-2 md:p-2 
                    border-2 border-gray-50 rounded-xl hover:border-purple-500
                    shadow-md hover:shadow-lg hover:scale-105 z-10
                    transition-all duration-500
                    order-last md:order-first
                    mx-1 mt-6 my-4 md:mx-0 md:my-0 md:mt-0
                    dark:bg-gray-700 dark:border-gray-700">
            <Contact/>
        </div>
        

        <p class="leading-relaxed whitespace-normal p-0 md:p-3 md:pl-6 adaptivetext">
            I am Yibo Yan. I am an incoming MSCS student at Yale University. I just started my new journey at New Haven and this website might not have been updated promptly to reflect all my recent stories.
            <br/><br/>
            
            I was an undergraduate CS major + Stats minor student at UC Davis. 
            I consider myself a highly self-motivated person interested in a wide range of topics in Computer Science and eager to try out and learn new technologies.
            
            <br/><br/>
            Although no previous experience of CS before university, fortunately, I was able to have some valuable experiences on various topics during the undergrad education via in-class or after-class activities. 
            I had experiences and interests in mobile app development (iOS specifically), web app development, software engineering in general, machine learning, data science, operating system. I also had some limited experience in AI and computer vision (graphics). Recently, I am learning more about OS kernels and Rust!

            <br/><br/>
            Details about my in-class or personal projects can be found in <Link URL="/projects" IsExternal="false">Projects</Link> page. 
            My leadership and research assistant experiences can be found in <Link URL="/experiences" IsExternal="false">Experiences</Link> page. 
            As one of my hobbies, I also have done some bloggings and tutorials, if you are interested you can find more details in <Link URL="/tutorials" IsExternal="false">Tutorials</Link> page.
        </p>
    </div>
</div>