@page "/"

<Divider />

<div class="flex flex-col justify-center">
    <span class="text-center text-2xl font-semibold"> About Me </span>

    <AboutMe />
</div>



<h1 class="text-4xl font-bold mb-4 mt-[111px]">Hello, world!</h1>

Welcome to your new app. This is test.