@page "/projects"

<div class="flex flex-col justify-center">
    <Divider />

    <Title>Projects</Title>

    <div class="flex flex-wrap mt-3">
        <ProjectCard/>
        <ProjectCard/>
        <ProjectCard/>
        <ProjectCard/>
        <ProjectCard/>
        <ProjectCard/>
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
