@page "/tutorials"

<div class="flex flex-col justify-center">
    <Divider />

    <Title>Tutorials</Title>

    <div class="flex flex-wrap mt-3">
        <ProjectCard Title="iOS Development"
                     Date="2021.6"
                     Role="Author">
            <PillContent>
                <PillButton Text="Undergoing"/>
                <PillButton Text="iOS Dev"/>
                <PillButton Text="Swift"/>
            </PillContent>

            <DetailContent>
                <DetailEntry Content="Introduced Swift and SwiftUI in this series. Talked about basic layout with SwiftUI, shapes, animations, bindings and more."/>
                <DetailEntry Content="Planning to offer a student-taught (led by me) iOS class at UC Davis based on this series, with the help from Prof. King and Prof. Amenta."/>
            </DetailContent>

            <Links>
                <Link URL="https://ios.totoroq.com/">
                    Website (Only in English)
                </Link>
            </Links>
        </ProjectCard>

        <ProjectCard Title="Universal Windows Platform Dev"
                     Date="2018.6"
                     Role="Author">
            <PillContent>
                <PillButton Text="UWP"/>
                <PillButton Text="Windows Dev"/>
            </PillContent>

            <DetailContent>
                <DetailEntry Content="Wrote several chapters of UWP programming tutorials and published on several online forums."/>
                <DetailEntry Content="Introduced basic C# and XAML. Introduced some native controls of Windows, data binding, chained animation, and so on."/>
            </DetailContent>

            <Links>
                <Link URL="https://totoroyyb.github.io/UWP-Develop-Tutorial/">
                    Website (Only in Chinese)
                </Link>
            </Links>
        </ProjectCard>
    </div>
</div>
