<div class="flex bg-green-400 dark:bg-green-600 rounded-md p-1 px-3 
            items-center my-2
            @Class">
    <p class="text-xs text-white font-medium">
        @((Text == null || Text.Length == 0) ? "Texts" : Text)
    </p>
</div>

@code
{
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Text { get; set; }
}