<div class="flex flex-col justify-center adaptivetext">
    <Title>Ackownledge</Title>

    <p class="leading-relaxed whitespace-normal mt-4">
        I designed and programmed this website. This website is built with 
        <Link URL="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-5.0#blazor-webassembly" IsExternal="true">Blazor WASM</Link>,
        continously deployed by <Link URL="https://github.com/features/actions" IsExternal="true">GitHub Action</Link> as 
        <Link URL="https://azure.microsoft.com/en-us/services/app-service/static/" IsExternal="true">Azure Static Web App</Link>. You can find and view source code on <Link URL="https://github.com/totoroyyb/Personal-Website" IsExternal="true">GitHub Repo</Link>. 
        
        <br/><br/>
        Credits to <Link URL="https://tailwindcss.com/" IsExternal="true">TailWindCSS</Link> which makes styling in HTML way easier than ever.
        I also applied some design elements from <Link URL="https://hydejack.com/" IsExternal="true">Hydejack</Link>, which is my most favorite, beautiful Jekyll blog theme. 
    </p>
</div>