<span class="text-center text-3xl font-bold dark:text-gray-200 @Class">
    @ChildContent
</span>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Class { get; set; } = "";
}