@page "/experiences"

<div class="flex flex-col justify-center">
    <Divider />

    <Title>Experiences</Title>

    <div class="flex flex-wrap mt-3">
        <ProjectCard Title="Student Instructor of iOS Dev Course"
                     Date="2022 Spring Quarter"
                     Role="Student Instructor">
            <PillContent>
                <PillButton Text="Teaching"/>
            </PillContent>

            <DetailContent>
                <DetailEntry Content="Designed and led a student-taught iOS development course at UC Davis, advised by Prof. Nina Amenta."/>
                <DetailEntry Content="Designed and graded four weekly programming assignments."/>
                <DetailEntry Content="Led this quarter-long course with a enrollment of ~35 students."/>
            </DetailContent>

            <Links>
                <Link URL="https://ios-dev-ucd.netlify.app/">
                    Course Website 
                </Link>

                <Link URL="https://www.youtube.com/playlist?list=PLRX8L_ty7YukB3QkBCdeXe36W0m1Slmjl">
                    Lecture Recordings
                </Link>
            </Links>
        </ProjectCard>

        <ProjectCard Title="Research Assistant at DECAL Lab"
                     Date="2021.4"
                     Role="Research Assistant">
            <PillContent>
                <PillButton Text="Undergoing"/>
                <PillButton Text="Research"/>
            </PillContent>

            <DetailContent>
                <DetailEntry Content="Worked with the research group led by Prof. Filkov at UC Davis on OSS Sustainability."/>
                <DetailEntry Content="Worked with Likang Yin, a Ph.D. student at UC Davis, on modeling institutional statement topics with LDA using socio-technical data and longitudinal data analysis."/>
                <DetailEntry Content="The paper is accepted to CSCW 2022."/>
            </DetailContent>

            <Links>
                <Link URL="https://www.cs.ucdavis.edu/~filkov/papers/cscw2022_converge.pdf">
                    Camera-ready
                </Link>
            </Links>
        </ProjectCard>

        <ProjectCard Title="House Analytic"
                     Date="2021.3"
                     Role="Research Assistant">
            <PillContent>
                <PillButton Text="Research"/>
            </PillContent>

            <DetailContent>
                <DetailEntry Content="Participated in the house analytic research project led by Prof. Rafatirad at UC Davis."/>
                <DetailEntry Content="Worked on server-side machine learning model to improve the accuracy of prediction for both sale and rental properties."/>
            </DetailContent>

            <Links>
                <Link URL="https://web.cs.ucdavis.edu/~srafatir/pages/research.html">
                    Related Info
                </Link>
            </Links>
        </ProjectCard>

        <ProjectCard Title="iDEX Student Organization"
                     Date="2019.5"
                     Role="Founder">
            <PillContent>
                <PillButton Text="Student Org"/>
            </PillContent>

            <DetailContent>
                <DetailEntry Content="Designed and developed the official website and blog for the organization."/>
                <DetailEntry Content="Hosted two meetings per week. One is a technical sharing session, and another one is a teamed-up project session."/>
                <DetailEntry Content="Aimed to provide a CS related incubator platform for students."/>
            </DetailContent>
        </ProjectCard>
    </div>
</div>
