@inherits LayoutComponentBase

@using BlazorApp.Client.Services;
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;

@inject IApiClientService _apiClientService;
@inject IWebAssemblyHostEnvironment HostEnvironment;

<div class="px-6 md:px-10 mx-auto max-w-5xl">
    <div class="fixed flex z-40 drop-shadow-md justify-center content-center 
                max-w-5xl mx-auto
                inset-x-0 md:inset-x-8 h-16 top-0 rounded-b-lg
              bg-gray-50 dark:bg-gray-800 border-r-2 border-l-2 border-b-2 
              border-gray-50 dark:border-gray-800 border-opacity-90
                bg-opacity-80 dark:bg-opacity-80 backdrop-blur-md">
        <NavMenu />
        
        <div class="flex md:hidden content-center justify-between w-full">
            <span class="self-center font-sans font-bold mx-4 text-xl adaptivetext">
                Meet Yibo Yan
            </span>

            @* NavMenuButton *@
            <span class="self-center w-8 h-8 p-1 mx-4
                         rounded border-2 border-indigo-300 hover:border-cyan-500
                         transition duration-500
                         @menuButtonBg"
                         @onclick="ToggleMenu">
                <svg xmlns="http://www.w3.org/2000/svg" class="adapticoncolor" fill="currentColor" stroke="none" viewBox="0 0 24 24">
                    <g data-name="Layer 2"><g data-name="menu"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><rect x="3" y="11" width="18" height="2" rx=".95" ry=".95"/><rect x="3" y="16" width="18" height="2" rx=".95" ry=".95"/><rect x="3" y="6" width="18" height="2" rx=".95" ry=".95"/></g></g>
                </svg>
            </span>
        </div>
    </div>

    @* Footer *@
    <div class="hidden md:flex justify-between 
                max-w-5xl mx-auto z-40
                fixed bottom-0 inset-x-8 px-3 py-3 
                border-l-2 border-t-2 border-r-2 
                border-gray-50 dark:bg-gray-800 border-opacity-90 rounded
                bg-gray-50 dark:border-gray-800 shadow-t-md
                bg-opacity-80 dark:bg-opacity-80 backdrop-blur-md
                adaptivetext">
        <div class="self-center">
            Some Button
        </div>
        
        <div>
            <SocialMedia />
        </div>
    </div>
    

    <div class="md:hidden">
        <div class="fixed top-0 bottom-0 h-full w-screen 
            inset-x-0 @backgorundBlur
            z-30 transition-all duration-500"
            @onclick="ToggleMenu">
        </div>
        
        <div class="fixed bottom-0 h-48 w-screen
                    inset-x-0 bg-gray-50 dark:bg-gray-800 z-50
                    transition-all duration-500 rounded-t-lg
                    @menuShadow
                    @menuTrans">
            <div>
                <CascadingValue Value="this">
                    <MobileNavMenu/>
                </CascadingValue>
            </div>
        </div>
    </div>
    

    <div class="bg-gradient-to-br from-indigo-700 to-green-600 w-full h-60 rounded-xl mt-20 flex justify-center content-center">
        <div class="flex flex-col self-center">
            <span class="text-white font-bold text-center text-5xl text-shadow-xl">
                Yibo Yan
            </span>
            <span class="text-white font-medium text-center text-3xl text-shadow-xl mt-5">
                CS + Stats @@ UC Davis
            </span>
        </div>
    </div>
    
    <div class="mb-20">
        @Body
    </div>
</div>


@code {
    static private bool isMenuOpen = false;
    static public string menuButtonBg = "";
    static public string backgorundBlur = "invisible";

    private string menuTrans = "invisible translate-y-48";
    private string menuShadow = "";

    private string getCssClass(string value, string defaultValue, string otherValue) 
    {
        return value == defaultValue ? otherValue : defaultValue;
    }

    public void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
        menuButtonBg = getCssClass(menuButtonBg, "", "bg-cyan-500");
        backgorundBlur = getCssClass(backgorundBlur, "invisible", "visible bg-gray-500  bg-opacity-70 backdrop-blur-sm");
        menuTrans = getCssClass(menuTrans, "invisible translate-y-48", "visible translate-y-0");
        menuShadow = getCssClass(menuShadow, "", "shadow-t-lg");
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        if (HostEnvironment.IsProduction())
        {
            try 
            {
                await _apiClientService.GetLocationAsync();
            } 
            catch
            {
                Console.WriteLine("Some exception happed during logging geo location.");
            }
        }
        else
        {
            Console.WriteLine("Skipped geo loc logging due to not in production mode.");
        }
    }
}
