@inherits LayoutComponentBase

<div class="px-8 w-full mx-auto">
    <div class="fixed flex drop-shadow-md justify-center content-center inset-x-8 h-16 top-0 rounded-b-lg bg-gray-100 border-r-2 border-l-2 border-b-2 border-gray-200">
        <NavMenu />
        @* <a class="mt-6 ml-8 navtext pb-2 border-b-4 mr-6 border-purple-700 hover:border-green-400" href="http://blazor.net" target="_blank">Learn about Blazor</a> *@
    </div>

    <div class="bg-gradient-to-br from-indigo-700 to-green-600 w-full h-60 rounded-xl mt-20 flex justify-center content-center">
        <div class="flex flex-col self-center">
            <span class="text-white font-bold text-center text-5xl text-shadow-xl">Yibo Yan</span>
            <span class="text-white font-medium text-center text-3xl text-shadow-xl mt-5">CS + Stats @@ UC Davis</span>
        </div>
        
    </div>

    @Body
</div>


@* <div class="px-8 w-full mx-auto">
    <div class="bg-gradient-to-br from-indigo-700 to-green-600 w-full h-60 rounded-xl mt-20">
        <span>Text</span>
    </div>

    @Body
</div> *@