<ul class="hidden md:flex justify-between justify-self-center h-16 px-8 tracking-wide ">
    <li class="flex">
        <NavLink class="navtext self-center" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
    <li class="flex">
        <NavLink class="navtext self-center" href="projects">
            Projects
        </NavLink>
    </li>
    <li class="flex">
        <NavLink class="navtext self-center" href="experiences">
            Activities
        </NavLink>
    </li>
    <li class="flex">
        <NavLink class="navtext self-center" href="tutorials">
            Tutorials
        </NavLink>
    </li>
</ul>
